:root{
    --font-family: 'Epilogue', sans-serif;

    --almost-white: hsl(0, 0%, 98%);
    --medium-gray: hsl(0, 0%, 41%);
    --almost-black: hsl(0, 0%, 8%);
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}



body{
    background-color: var(--almost-white);
}

a{
    text-decoration: none;
}

.img{
    width: 100%;
    display: block;
    object-fit: cover;
}
header{
    width: 100%;
    min-height: 100vh;
}


.navbar{
    padding: 2rem;
}

.nav-header{
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.menu-btn{
    background: transparent;
    border: none;
    line-height: 25px;
    cursor: pointer;
}

.nav-links{
    position: absolute;
    background: red;
    height: 100%;
    top: 0;
    right: 0;
    width: 100%;
    max-width: 200px;
    display: none;
}

.nav-btns{
    display: none;
}

.hero{
    width: 100%;
    max-width: 1140px;
    padding: 0rem 1rem;
    margin: 0 auto;
}

.hero-section{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
}
.hero-info{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 3rem;
}
h1{
    font-family: var(--font-family);
    font-size: 2rem;
    font-style: normal;
    font-weight: 700;
    color: var(--almost-black);
    line-height: 25px;
}

p{
    font-family: var(--font-family);
    font-size: 0.9rem;
    line-height: 23px;
    margin-top: 1rem;
    font-weight: 500;
    color: var(--medium-gray);
}

.hero-btn{
    padding: 1rem 2rem;
    border-radius: 10px;
    border: none;
    background-color: var(--almost-black);
    color: var(--almost-white);
    font-size: 1rem;
    font-family: var(--font-family);
    font-weight: 700;
    margin-top: 1.5rem;
}

.brands{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: row;
    gap: 1rem;
    margin-top: 2rem;
}

.menu{
    position: absolute;
    background-color: var(--almost-white);
    top: 0;
    right: 0;
    min-height: 100vh;
    width: 0;
    overflow: hidden;
    transition:  all 0.3s ease-in-out;
}

.showMenu{
    width: 250px;
}


h3{
    font-family: var(--font-family);
    font-size: 1.2rem;
    font-style: normal;
    font-weight: 500;
    color: var(--medium-gray);
}

.features{
    display: flex;
    align-items: center;
    justify-content: flex-start;
    gap: 15px;
    margin-top: 6rem;
    margin-left: 2rem;
    cursor: pointer;
}

.features img{
    width: 13px;
}

.features .close{
    display: none;
}

.feature-contents{
    margin: 2rem 1rem;
    display: none;
}

.showFeatureContents{
    display: block;
}

.feature-content{
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 20px;
    margin-bottom: 2rem;
    margin-left: 2.5rem;
}


.feature-content img{
    width: 20px;
}

.menu-link{
    margin-left: 2rem;
    margin-top: 2rem;
}

.menu-btns{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    justify-content: center;
    margin-top: 2rem;
    padding: 0 3rem;
}

.menu-btns p{
    font-family: var(--font-family);
    font-size: 1rem;
    font-style: normal;
    font-weight: 500;
    color: var(--medium-gray);
}

.menu-register-btn{
    height: 50px;
    width: 100%;
    border-radius: 10px;
    border: none;
    background-color: var(--almost-black);
    color: var(--almost-white);
    font-size: 1rem;
    font-family: var(--font-family);
    font-weight: 700;
    margin-top: 1rem;
}

.close-menu-btn{
    position: absolute;
    right: 0;
    top: 0;
    border: 0;
    background: transparent;
    margin: 2rem;
    cursor: pointer;
}

.overlay{
    position: absolute;
    background-color: rgba(0, 0, 0, 0.52);
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    display: none;
    transition:  all 0.3s ease-in-out;
}

.showOverlay{
    display: block;
}

.hero-image-desktop{
    display: none;
}

@media screen and (min-width: 995px) {
    .hero-image-mobile{
        display: none;
    }

    .hero-image-desktop{
        display: flex;
        max-width: 450px;
    }

    .hero-section{
        flex-direction: row;
        text-align: left;
        justify-content: space-between;
    }

    .hero-info{
        align-items: flex-start;
        justify-content: flex-start;
        margin-top: 0;
        margin-right: 6rem;
    }

    h1{
        font-size: 4rem;
        line-height: 70px;
    }

    p{
        font-size: 18px;
        margin-top: 2rem;
    }

    .brands{
        margin-top: 6rem;
    }
}